body{
	font: 0.9em Tahoma, Verdana, Arial;
	background-image: url("http://i.imgur.com/Jn2nwtn.jpg");
	background-image: url("http://i.imgur.com/fkiBeIq.png");
	/*background-image: url("http://i.imgur.com/I3cJGqG.jpg");*/
	background-color: BurlyWood;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-color: #36dcaf;*/
}

header{
	max-width: 200px;
	max-height: 80px;
}

#logo{
	border: dashed #5c929c 2px; 
	max-height: 80px;
}

#mainContainer{
	/*border: solid #83d1d7 5px;*/
	background-color:rgba(196,216,240,.7);
	border-top: solid #5c929c 2px;
	border-right: solid #5c929c 2px;
	border-left: solid #5c929c 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 40%;
	/*height: 500px;*/
	padding: 25px;
	color: maroon; /*#886955*/
}

#content{
	padding-top: 75px;
}

#profilePics{

}

#coverPhotoContainer{
	position: relative;
	width: 100%;
	min-width: 250px;
}

#coverPhoto{
	width: 100%;
}

#profileAvatar{

	position: absolute;
	float: left;
	padding: 160px 50px 50px 50px;
    width: 100px;
    height: 100px;
    max-width: 100px;
	max-height: 100px;
}

#twitterFeed{ 
	margin-top: 15px;
	width: 15%;
	float: right;
	background-color:rgba(196,216,240,.7);
	border: solid #5c929c 2px;
	color: maroon;
	padding: 0 10px 10px 10px;
}

#menu{
	/*border: solid #5c929c 2px;*/
	width: 10%;
	float: left;
	margin-left: 30px;
}

#content{

}

#ulMenu{
	background-color:rgba(196,216,240,.7); 
	display: inline-block;
	border: solid #5c929c 2px;
	padding: 15px;
	text-align: center;
}

.liMenu{
	display: inline-block;
	padding: 12px;
}

a{
	font-size: 1.1em;
	text-decoration: none;
	color: #886955;
}

#animePlanet{
	display: table;
	margin-right: auto;
	margin-left: auto;
}

footer{
	position: absolute;
	background-color: #caf1ff;
	width: 100%;
	left: 0;
	bottom: 1;
	color: maroon;
}

#footerSounds{
	position: absolute;
	background-color: #caf1ff;
	width: 100%;
	left: 0;
	bottom: 1;
	color: maroon;
}

#footerSecret{
	position: absolute;
	background-color: #caf1ff;
	width: 100%;
	left: 0;
	bottom: 0;
	color: maroon;
}

#ulFooter{
	list-style-type: none;
	text-align: center;
}

.liFooter{
	display: inline-block;
}

#copyright{
	text-align: center;
}

#twitterLogo{
	max-width: 30px;
	max-height: 30px;
	margin-left: auto;
	margin-right: auto;
}